apiVersion: v1
kind: Service
metadata:
  name: vets-service
  namespace: petclinic
  labels:
    app: vets-service
    component: business-service
spec:
  type: ClusterIP
  selector:
    app: vets-service
  ports:
    - port: 8083
      targetPort: http
      protocol: TCP
      name: http
