apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: petclinic
  labels:
    app: grafana
    component: infrastructure
spec:
  type: ClusterIP
  selector:
    app: grafana
  ports:
    - port: 3000
      targetPort: http
      protocol: TCP
      name: http
