apiVersion: v1
kind: Service
metadata:
  name: genai-service
  labels:
    app: genai-service
spec:
  type: ClusterIP
  ports:
    - port: 8084
      targetPort: 8084
      protocol: TCP
      name: http
  selector:
    app: genai-service
