apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: petclinic
  labels:
    app: prometheus
    component: infrastructure
spec:
  type: ClusterIP
  selector:
    app: prometheus
  ports:
    - port: 9090
      targetPort: http
      protocol: TCP
      name: http
