apiVersion: v1
kind: Service
metadata:
  name: visits-service
  namespace: petclinic
  labels:
    app: visits-service
    component: business-service
spec:
  type: ClusterIP
  selector:
    app: visits-service
  ports:
    - port: 8082
      targetPort: http
      protocol: TCP
      name: http
