apiVersion: v1
kind: Service
metadata:
  name: customers-service
  namespace: petclinic
  labels:
    app: customers-service
    component: business-service
spec:
  type: ClusterIP
  selector:
    app: customers-service
  ports:
    - port: 8081
      targetPort: http
      protocol: TCP
      name: http
